.carousel-container {
    margin: 20px;
}

.carousel-item {
    border: 1px solid #ffffff;
   
    height: fit-content;
    width:fit-content;
    display: flex;
    align-items: center;

    justify-content: space-evenly;
}

.carousel-item img{
    height: 300px;
}
