nav {
    width: 96vw;
    padding: 10px;
}

ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
    overflow: hidden;
}

li a {
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #e4e9efc3;
    border-radius: 50px;
}
